
    <h1>About Sketchapp</h1>
    <p>
      This is a small app I made just because I needed something to keep learning javascript and canvas. Since I am trying to learn Ruby on Rails I decided to mix the two. Slowly I am squashing the bugs and adding new <span style="text-decoration:line-through;">bugs</span> features.
	  </p><p>
	  The idea is a digital Etch-A-Sketch. I tried to do as much as I could to make it compatible with mobile devices but it turns out that is beyond me right now. Something works it's a miracle but most of the functionality just fails on a phone and tablet.
    </p>
	
	<hr>
	<h4>Q & A</h4>
	<p>
	<ul>
	<li>OMG! How do you use this thing!?</li>
	<li>I got this one so much. I tried to make it as obvious as I could without cluttering the page. The left dial controls up and down and the right dial controls left and right. Using the keyboard you can use <Z> for up, <X> for down, <N> for left, and <M> for right. Using the mouse you can click the dial image. The dials are divided down the middle and left/right halves function the same as the keys. </li>
	
	<li>Can I go diagonal?</li>
	<li>You bet! If you hold one dial with the mouse you can also hold a key and make it move in both directions.</li>
	
	<li>Why can't I just draw like a regular paint app?</li>
	<li>That wouldn't be very true to the spirit of an Etch-A-Sketch and what I had set out to make. I could do drawing (and I did learn to) but there are tons of other drawing apps out there.</li>
	
	<li>Why can't I use this on my phone/tablet?</li>
	<li>Depending on the phone, browser, os, position of the stars...some things might work. The biggest thing you might notice is the layout is terrible. The screen just isn't big enough. Next the functions don't all work or don't work at all. Some of the phones I used the buttons clicked and I could draw (poorly mind you) but the keyboard wouldn't work. Then on the next phone the keyboard worked but the buttons didn't. I don't own a tablet so I only had one chance to test that. It was bad. Neither the buttons or the keyboard worked. So the results are likely hit and miss. Surprisingly the drawing worked everywhere but the inputs limited the usefulness.</li>
	
	<li>So what does it work on?</li>
	<li>Firefox, Chrome, and Internet Explorer. What versions of IE I couldn't say but at least with 11 it was working well. Just getting these three working is a pain but that's the minimum I would accept of a site I create.</li>
	
	<li>How come it still looks awful?</li>
	<li>I think you'll find my lacking skill in design disturbing. Thanks for noticing. Aside from that I am new to bootstrap as well as Ruby and am doing what I can to make it tolerable on the eyes.</li>
	
	<li>This is dumb. You suck.</li>
	<li>Not a question, but not everything has to be useful. I am learning a lot so it's useful to me.</li>
	
	<li>Do you have plans for things to implement?</li>
	<li>Yes. I have a list of things here: <%= link_to "Plans", plans_path %></li>
	
	</ul>
	
 
	</p>