
    <h1>About Sketchapp</h1>
    <p>
      This is a small app I made just because I needed something to keep learning javascript and canvas. Since I am trying to learn Ruby on Rails I decided to mix the two. Slowly I am squashing the bugs and adding new features. 
	  </p><p>
	  The idea is a digital Etch-A-Sketch. I tried to do as much as I could to make it compatible with mobile devices and at least FF/IE/Chrome but there are some things that just don't transfer well.
    </p>
 