<div class="col-sm-2"></div>
<div class="col-lg-6">
<h1>Plans</h1>

<p>
<ul>
<li>
Split up some of the javascript, mainly make rerunning commands separate from the object javascript
</li>
<li>
Add options, read options
<ul>
<li>set start positions, set keys for input, (re)draw speed</li>
</ul>
</li>

<li>
<span style="text-decoration:line-through;">Ability to select from most recent</span>
</li>
<li>
Ability to copy drawing commands (instead of just redrawing). unsure.
</li>
<li>
<span style="text-decoration:line-through;">Fix copy/paste in the commands box. Doesn't take a lot to see it's broken.</span>
</li>
<li>
Use bootstrap more, especially for the next point
</li>
<li>
Get it functioning on mobile...
</li>
<li>
Refresh most recent when saving or put a button there or something...
</li>
</ul>
</p>

</div>
<div class="col-sm-4 col-sm-2"></div>