
<body onload="SetUp();" >

 <div class="canvas-holder">
 <canvas id="can" class="EAS" width="750" height="500" ></canvas> 
 <!-- this cleared it way up, the height/width on element directly affect the pixel number
 that means that I can't resize it without using some js and listening for resize events. not worth it for now.
  http://stackoverflow.com/questions/5034529/size-of-html5-canvas-via-css-versus-element-attributes -->
</div>

<div class="controls">
    <div class="leftright">
        <div class="lrbutton">
            <div class="lbutton" onmousedown="IMGDown(this, event);" title="Left" ></div>
            <div class="rbutton" onmousedown="IMGDown(this,event);" title="Right" ></div>
        </div>

        <div class="arrowsleftright"><span id="left_key">N</span> &lArr;<%= image_tag "arrows.png" %><span id="right_key">M</span> &rArr;</div>
    </div>

    <div class="updown">
        <div class="udbutton">
            <div class="ubutton"  onmousedown="IMGDown(this, event);" title="Up" ></div>
            <div class="dbutton"  onmousedown="IMGDown(this, event);" title="Down" ></div>
        </div>
    
        <div class="arrowsupdown"><span id="up_key">Z</span> &uArr;<%= image_tag "arrows.png", :class=>"rotate" %><span id="down_key">X</span> &dArr;</div>
    </div>

</div>
<div class="clearButton">
    <div class="lefty">
    </div>
    <div class="middle">
        
    </div>
    <div class="righty">
    </div>
</div>


</body>

