@import "bootstrap";
    
canvas
{
    border:1px solid black;
    }
    
/* buttons, everything with images/buttons below canvas */
.commands 
{
    overflow:scroll-y;
    min-height: 20px;
	max-height: 50%;
	height: 40%;
    width:90%;
	display: block;
	margin: auto;
    }
    
.leftright 
{
    float:right;
    position:relative;
    }
    
.updown
{
    float:left;
    position:relative;
    }
    
.controls 
{
    max-width:70%;
    height:20%;
    min-height:150px;
	padding-left:40px;
    }
    
.arrowsleftright
{
position:relative;
left:-5px;
top:-10px;
    }
    
.arrowsupdown
{
position:relative;
left:10px;
    }
    
.rotate
    {
-webkit-transform: rotate(90deg); 
-moz-transform: rotate(90deg); 
-o-transform: rotate(90deg);
-ms-transform: rotate(90deg); 
        }
    
div > img /* first time using these selectors so I got that going for me (images as child of div) */
{
    width:50%;
    height:50%;
    }
  
.udbutton 
{
    clear:both;
    min-height:100px;
    margin-left:15px;
	display:inline-block;
    }

.lrbutton
{
    clear:both;
    min-height:100px;
    margin-left:15px;
    }
    
.ubutton, .lbutton
{
    
    background: transparent url("../assets/buttons.png") no-repeat;
    background-position: -100px 0;
    min-height:100px;
    min-width:49px;
    max-width:50px;
    float:left;
    }
    
.dbutton, .rbutton
{
    
    background: transparent url("../assets/buttons.png") no-repeat;
    background-position: -150px 0;
    min-height:100px;
    min-width:49px;
    max-width:50px;
    float:left;
   
    }

    
.ubutton:hover 
, .lbutton:hover, .lbutton:active, .ubutton:active
{
    background-position: 0px 0;
    min-height:100px;
    min-width:49px;
    max-width:50px;
    }
    
.dbutton:hover, .rbutton:hover, dbutton:active, .rbutton:active
{
    background-position: -50px 0;
    min-height:100px;
    min-width:49px;
    max-width:50px;
    }
	
.LeftMargin {
	min-height:1px;
	min-width:50px;
	float:left;
	height:100%;
}

body {
	padding-top: 80px;
}

#logo { 
	padding-left:40px;
	padding-top: 10px;
	font-size: 20px;
	display: inline-block;
}

#left_sidebar {

	height:620px;
	overflow: scroll;
	max-width:400px;
}


.current_commands {
	min-height: 20px;
	max-height: 50%;
	height: 40%;
}

.CustomCommand {
	width:10%;
	min-width:30px;
	max-width:30px;
	height: 25px !important;
}

.well {
	background-color: #BBB !important;
}
